body{
 background-color: rgb(48, 42, 42);
}
.map{
    position:absolute;
    z-index: 0;
    display:inline;
    left: 8px;
    top: 55.5px;
    height:max-content;
    width:max-content;
    overflow: scroll;
}
.map .imgDiv{
    position:absolute;
    z-index: 0;
    display:inline;
    height: 664px;
    width: 1008px;
    overflow: scroll;
}
.marker-wrap{
    position:absolute;
    z-index: 1;
}
.marker-wrap .marker-hover-text {
    border-radius: 10px;
    background-color:rgba(212, 219, 151, 0.582);
    display: none;
    position: absolute;
    bottom: 13;
    left: 13;
    padding: 10;
  }
.marker-wrap:hover .marker-hover-text{
    display: block;
}