.map{
    position:absolute;
    z-index: 0;
    display:inline;
    left: 18%;
    top: 10%;
    height: 80%;
    width: 62%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.marker-wrap{
    position:absolute;
    z-index: 1;
}
.marker-wrap .marker-hover-text {
    border-radius: 10px;
    background-color:rgba(212, 219, 151, 0.582);
    display: none;
    position: absolute;
    bottom: 13;
    left: 13;
    padding: 10;
  }
.marker-wrap:hover .marker-hover-text{
    display: block;
}